<strong>Olá, {{ user }}</strong>
<p>Você tem uma tarefa para {{ date }}</p>
<p>
  <strong>Título: </strong> {{ title }} <br>
  <strong>Descrição: </strong> {{ description }} <br>
  <strong>Categoria: </strong> {{ category }}
  <br>
</p>
<br>